.main{
    background-color: #f6f6f6;
    padding: 0 120px;
}
#blogTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding:40px 0;
   
}
.blogImg{
    width: 230px;
    height: 200px;
    border-radius: 9px;
}
#blogTop h1{
    text-align: center;
    font-size: 58px;
    font-weight: 600;
}
#blogTop p{
    text-align: center;
    color: #666666;
    font-size: 18px;
    font-weight: 100;
    width: 85%;
}
#blogTop h6{
    color: #666666;
    font-size: 16px;
}
#postGrid{
   
    display: flex;
    flex-wrap: wrap;
}
#postGrid img{
    width:100%

}
#postGrid p{
    color: #666666;
    font-size: 18px; 
}
#postGrid a{
    color:#7C4EE4;
    text-decoration: none;
}
.pageButton{
    background-color: #7C4EE4;
    color: #f6f6f6;
    padding: 5px 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.pageButton:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
  }
.pagenationControl{
    display: flex;
   margin-bottom: 40px;
    justify-content: end;
}
@media screen and (max-width :760px){
    #blogTop{
        gap: 0;

    }
    #blogTop h1{
        font-size: 40px;
    }
}

@media screen and (max-width :440px){
    .main{
        padding: 0 20px;
    }
    #blogTop h1{
        font-size: 24px;
    }
    #blogTop p{
        font-size: 11px;
    }
    #blogTop h6{
        font-size: 11px;
    }
}