.primaryButton{
    padding: 8px 25px;
    background-color: #7C4EE4;
    border-radius: 6px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
}
    
.secondBtn{
    padding: 8px 25px;
    background-color: white;
    border-radius: 6px;
    color: #7C4EE4;
    border:1.5px solid #7C4EE4;
    width: fit-content;

}

#root{
    background-color: #f6f6f6;
}
@media screen and (max-width :760px){
    .primaryButton{
        padding: 8px 18px;
    }
}
